/*
V1
.custom-margin {
    padding-left: 50px !important;
    padding-right: 50px !important;
    margin-top: 10px !important;
}
*/

.custom-margin { 
    margin: 10px 0px 0px 0px ;
}
a {
    text-decoration: none !important;
}

.appTtl {
    font-size: xx-large;
}

.searchbtn {
    background: url('../img/search.png') no-repeat right center;
    background-size: 25px !important;
    border: none !important;
    cursor: pointer !important;
    width: 40px !important;
    height: 40px !important;
    margin-left: 70px !important;
    right: 0 !important;
}

@media (max-width: 10px) {
    .searchbtn {
        background-size: 20px !important;
        width: 30px !important;
        height: 40px !important;
       
    }
}

.searchbar {
    outline: none !important;
    border: 0 !important;
    width: 840px !important;
}                                           

.searchbar[type="search"]:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

#bar {
    border: 1px solid black !important;
    height: 40px !important;
    padding-right: 30px !important;
    display: flex !important;
    width: 100%;
    border-radius: 5px !important;
}

#displayUser {
    padding-top: 8 !important;
    padding-bottom: 0 !important;
    text-align: center !important;
    border: 1px solid black !important;
}

button#zoomButton {
    background: none !important;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}

button#zoomButton img {
    display: block;
}




/*
# = id
. = class
@ = method


border: none;
    background: none;
    color: inherit;
    padding: 0;
    margin: 0;
    cursor: inherit;
*/

