.title{

}

.date{

}

.share{

}

.user{

}

.tools{

}

.bg{
    background-color:floralwhite;
    height: 100vh;
}

.paper{
    background-color: white;
    height: 100vh;
}

.icon{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background-color: coral;
    color: bisque;
}



/*
# = id
. = class
@ = method
*/